@import "../styles/colours";

.new-expense {
  background-color: $blue-logo;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border: 1px solid $white-border;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid $white-border;
    background-color: $dark-blue-logo;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    &:hover {
      background-color: $light-blue-logo;
      border-color: $dark-blue-logo;
      color: $dark-blue-logo;
    }
    &:active {
      box-shadow: 2px 2px 5px $dark-blue-logo;
    }
    @media (max-width: 359px) {
      margin: 1rem 0;
    }
  }
}
